/*
Theme Name: 	Salumificio Ciriaci
Theme URI: 		firstmanagement.it
Description: 	Salumificio Ciriaci
Version: 		1.0
Author: 		Alessandro Molinari
Author URI: 	http://firstmanagement.it
*/
body { background-color: #fff; }

hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

img { height: auto; /* Make sure images are scaled correctly. */ max-width: 100%; /* Adhere to container width. */ }

figure { margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */ }

table { margin: 0 0 1.5em; width: 100%; }

/* Text meant only for screen readers. */
.screen-reader-text { border: 0; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; -webkit-clip-path: none; clip-path: none; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }

.widget { margin: 0 0 1.5em; /* Make sure select elements fit in widgets. */ }

.widget select { max-width: 100%; }

.sticky { display: block; }

.hentry { margin: 0 0 1.5em; }

.updated:not(.published) { display: none; }

.page-content, .entry-content, .entry-summary { margin: 1.5em 0 0; }

.page-links { clear: both; margin: 0 0 1.5em; }

.comment-content a { word-wrap: break-word; }

.bypostauthor { display: block; }

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */ display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }

.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link { display: inline-block; }

.wp-caption { margin-bottom: 1.5em; max-width: 100%; }

.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }

.wp-caption .wp-caption-text { margin: 0.8075em 0; }

.wp-caption-text { text-align: center; }

.gallery { margin-bottom: 1.5em; }

.gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }

.gallery-columns-2 .gallery-item { max-width: 50%; }

.gallery-columns-3 .gallery-item { max-width: 33.33%; }

.gallery-columns-4 .gallery-item { max-width: 25%; }

.gallery-columns-5 .gallery-item { max-width: 20%; }

.gallery-columns-6 .gallery-item { max-width: 16.66%; }

.gallery-columns-7 .gallery-item { max-width: 14.28%; }

.gallery-columns-8 .gallery-item { max-width: 12.5%; }

.gallery-columns-9 .gallery-item { max-width: 11.11%; }

.gallery-caption { display: block; }

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
body { -ms-word-wrap: break-word; word-wrap: break-word; -webkit-font-smoothing: auto; text-rendering: optimizeLegibility !important; -moz-osx-font-smoothing: grayscale; font-smoothing: auto; }

a, button, input { -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

blockquote { font-size: 1.25rem; padding: 1.25rem 1.75rem; }

table { width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent; }

table th, table td { padding: 0.75rem; vertical-align: top; border-top: 1px solid #dee2e6; }

table thead th { vertical-align: bottom; border-bottom: 2px solid #dee2e6; }

table tbody + tbody { border-top: 2px solid #dee2e6; }

table table { background-color: #fff; }

figcaption { padding-top: 0; padding-bottom: .75rem; color: #6c757d; text-align: left; }

input[type="button"], input[type="reset"], input[type="submit"] { display: inline-block; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; line-height: 1.5; border-radius: 0.25rem; -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; padding: 0.5rem 1.25rem; color: #fff; background-color: #007bff; border-color: #007bff; }

input[type="button"]:active, input[type="button"]:hover, input[type="reset"]:active, input[type="reset"]:hover, input[type="submit"]:active, input[type="submit"]:hover { color: #fff; background-color: #0062cc; border-color: #005cbf; cursor: pointer; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: 0.25rem; -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { color: #495057; background-color: #fff; border-color: #80bdff; outline: 0; -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

input[type="text"]:-webkit-input-placeholder, input[type="text"]:-moz-placeholder, input[type="text"]:-ms-input-placeholder, input[type="email"]:-webkit-input-placeholder, input[type="email"]:-moz-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-webkit-input-placeholder, input[type="url"]:-moz-placeholder, input[type="url"]:-ms-input-placeholder, input[type="password"]:-webkit-input-placeholder, input[type="password"]:-moz-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-webkit-input-placeholder, input[type="search"]:-moz-placeholder, input[type="search"]:-ms-input-placeholder, input[type="number"]:-webkit-input-placeholder, input[type="number"]:-moz-placeholder, input[type="number"]:-ms-input-placeholder, input[type="tel"]:-webkit-input-placeholder, input[type="tel"]:-moz-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="range"]:-webkit-input-placeholder, input[type="range"]:-moz-placeholder, input[type="range"]:-ms-input-placeholder, input[type="date"]:-webkit-input-placeholder, input[type="date"]:-moz-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-webkit-input-placeholder, input[type="month"]:-moz-placeholder, input[type="month"]:-ms-input-placeholder, input[type="week"]:-webkit-input-placeholder, input[type="week"]:-moz-placeholder, input[type="week"]:-ms-input-placeholder, input[type="time"]:-webkit-input-placeholder, input[type="time"]:-moz-placeholder, input[type="time"]:-ms-input-placeholder, input[type="datetime"]:-webkit-input-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-webkit-input-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="color"]:-webkit-input-placeholder, input[type="color"]:-moz-placeholder, input[type="color"]:-ms-input-placeholder, textarea:-webkit-input-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder { color: #6c757d; opacity: 1; }

select { height: calc(2.25rem + 2px); display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

blockquote { font-style: italic; font-size: 1.15rem; border-left: 3px solid rgba(33, 37, 41, 0.25); padding: 0.5rem 1.75rem; background: rgba(33, 37, 41, 0.05); }

blockquote p { font-size: 1.15rem; }

blockquote p:last-child { margin-bottom: 0; }

.navbar-dark .navbar-nav .dropdown-menu a { display: block; width: 100%; padding: .25rem 1.5rem; clear: both; font-weight: 400; color: #212529; text-align: inherit; white-space: nowrap; background-color: transparent; border: 0; }

.site-footer { padding-top: 3rem; padding-bottom: 3rem; }

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right; text-align: right; width: 50%; }

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left; text-align: left; width: 50%; }

.post-thumbnail { margin-top: 1.5em; display: inline-block; }

.card-title.entry-title { margin-bottom: .25rem; }

.entry-meta { font-size: .9rem; }

.entry-footer { font-size: .9rem; margin-top: 1rem; }

.comments-link { float: right; margin: 4px 0px 4px 10px; font-size: 90%; padding-top: 0.2em; }

.cat-links .badge, .tags-links .badge { font-size: 90%; font-weight: normal; border: 1px solid rgba(0, 0, 0, 0.125); margin: 4px 10px 4px 0; padding: 0.4em .9em; }

.cat-links a, .tags-links a { color: #6c757d; }

.cat-links a:hover, .tags-links a:hover { text-decoration: none; color: #212529; }

.entry-meta a, .comments-link a, .edit-link a { color: #6c757d; }

.entry-meta a:hover, .comments-link a:hover, .edit-link a:hover { text-decoration: none; color: #007bff; }

.entry-title a:hover { color: #007bff !important; }

.content-area.wp-bp-404 .card-body { padding: 2.5rem 4rem; }

.sidebar-1-area .widget, .footer-widgets .widget { margin-bottom: 0; padding: 2rem; }

.sidebar-1-area .widget ul, .footer-widgets .widget ul { padding-left: 20px; color: #6c757d; margin-bottom: 0; }

.sidebar-1-area .widget ul li, .footer-widgets .widget ul li { padding-top: 3px; padding-bottom: 3px; list-style: square; }

.sidebar-1-area .widget ul li:last-child, .footer-widgets .widget ul li:last-child { padding-bottom: 0; margin-bottom: 0; }

.sidebar-1-area .widget ul li a, .footer-widgets .widget ul li a { color: #6c757d; }

.sidebar-1-area .widget ul li a:hover, .footer-widgets .widget ul li a:hover { color: #212529; text-decoration: none; }

.footer-widgets .widget { padding: 0.5rem; }

#wp-calendar #next { text-align: right; }

#wp-calendar #prev a, #wp-calendar #next a { color: #6c757d; }

#wp-calendar #prev a:hover, #wp-calendar #next a:hover { color: #212529; text-decoration: none; }

#calendar_wrap table th, #calendar_wrap table td { padding: .25rem; }

.hentry.card .card-body { padding: 1.5rem; }

select { height: calc(2.25rem + 2px); display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

.entry-title a:hover { text-decoration: none; }

.mt-3r { margin-top: 3rem; }

.wp-bs-4-jumbotron { margin-bottom: 0; }

.wp-bs-4-jumbotron .jumbotron-heading { font-weight: 600; }

.wp-bs-4-jumbotron .container { max-width: 40rem; }

.comments-area { clear: both; -ms-word-wrap: break-word; word-wrap: break-word; overflow-wrap: break-word; word-break: break-word; }

.comments-area .media-body { overflow: auto; }

.comments-area .comment-list { list-style: none; padding-left: 0; }

.comments-area .comment-list > li { border-bottom: 1px solid #dee2e6 !important; padding: 2.5rem 4rem; }

.comments-area .comment-list ul.children { list-style: none; padding-left: 2rem; }

.comments-area .comment-list ul.children li { padding: 2.5rem 0 0; }

.comments-area .comment-list .comment-respond { padding: 2.5rem 4rem; }

.comments-area .comments-title { padding: 2.5rem 4rem; border-bottom: 1px solid #dee2e6 !important; }

.comments-area .comment-navigation { padding: 1rem 4rem 0; border-bottom: 1px solid #dee2e6 !important; }

.comments-area .wb-comment-form { padding: 2.5rem 4rem; }

.comments-area .wb-cancel-reply { margin-left: 2rem; }

.comments-area .logged-in-as { padding-left: 15px; font-size: .9rem; }

.comments-area .logged-in-as a { color: #6c757d; }

.comments-area .logged-in-as a:hover { color: #212529; text-decoration: none; }

.comments-area .wb-comment-notes { font-size: .9rem; }

.comments-area .no-comments { padding: 1rem 4rem; }

.comments-area small { font-size: .9rem; }

.comments-area p { -ms-word-wrap: break-word; word-wrap: break-word; overflow-wrap: break-word; word-break: break-word; }

.comments-area .comment-reply-link, .comments-area .comment-edit-link { margin-right: 1rem; color: #6c757d; }

.comments-area .comment-reply-link:hover, .comments-area .comment-edit-link:hover { color: #212529; text-decoration: none; }

.comments-area .comment-author a:hover { text-decoration: none; color: #212529; }

.wp-bp-sticky { position: absolute; top: 0; right: 1rem; }

.single .post-navigation .nav-links a { color: #6c757d; margin-bottom: 2rem; display: inline-block; }

.single .post-navigation .nav-links a:hover { color: #212529; text-decoration: none; }

.navbar { padding: 1rem; }

#wp-bp-posts-slider { border: 1px solid rgba(0, 0, 0, 0.125); }

#wp-bp-posts-slider .carousel-item img { width: auto; height: 400px; -o-object-fit: cover; object-fit: cover; }

#wp-bp-posts-slider .carousel-caption { background: rgba(0, 0, 0, 0.4); width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; padding: 2rem 4rem; }

#wp-bp-posts-slider .carousel-control-prev, #wp-bp-posts-slider .carousel-control-next { width: 10%; }

.custom-logo-link { margin-right: 1rem; }

.site-title a, .navbar-dark .navbar-brand, .site-description { color: #fff; margin-bottom: 0; }

.navbar-brand { font-size: 1.5rem; }

.navbar-dark .navbar-nav .nav-link { color: #fff; opacity: 0.5; }

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus { color: #fff; opacity: 0.75; }

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active { color: #fff; opacity: 1; }

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus { color: #fff; }

.navbar-dark .navbar-nav .dropdown-menu .active > .nav-link { color: #212529; }

.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover, .navbar-dark .navbar-nav .dropdown-menu .nav-link:focus { color: #212529; }

.page-template-full-width .site-footer.mt-4, .wb-bp-front-page .site-footer.mt-4 { margin-top: 0 !important; }

.wb-hide-mobile-sidebar .wp-bp-sidebar-width { display: none; }

.navbar-toggler { background-color: #343a40; }

.site-header { border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

body.custom-background .wp-bp-main-content .col-md-8 { background: #f8f9fa; padding: 2rem; border: 1px solid rgba(0, 0, 0, 0.125); }

.site-footer a:hover { text-decoration: none; }

.wb-bp-front-page .site-header { border-bottom: 0; }

.wb-bp-front-page .wp-bs-4-jumbotron { padding: 0; background-size: cover; background-position: center; background-color: #343a40; border-radius: 0; }

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay { padding: 10rem 2rem; /* background: rgba(#212529, 0.7); */ }

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay .lead { opacity: .75; }

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay .jumbotron-heading { font-weight: 600; font-size: 3rem; margin-bottom: 1rem; }

.wb-bp-front-page .wp-bp-services-section { padding: 4rem 0; }

.wb-bp-front-page .wp-bp-main-content { padding: 4rem 0; }

.wb-bp-front-page .wp-bp-main-content p { font-size: 1.25rem; font-weight: 300; }

.wb-bp-front-page .wp-bp-main-content blockquote { font-size: 1.35rem; }

.wb-bp-front-page .wp-bp-main-content blockquote p { font-size: 1.35rem; }

.wb-bp-front-page .wp-bp-main-content .post-thumbnail { margin-bottom: 1rem; margin-top: 0.5rem; }

.wb-bp-front-page .wp-bp-feat-card-img { -o-object-fit: cover; object-fit: cover; height: 200px; width: 100%; }

.wp-caption .wp-caption-text { font-size: 0.95rem; }

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (min-width: 768px) { .hentry.card .card-body { padding: 2.5rem 4rem; }
  .wb-hide-mobile-sidebar .wp-bp-sidebar-width { display: block; } }
/*Modifiche Sito web*/
@-webkit-keyframes sfondoslider {
  from {
    top: -100vh;
  }
  to {
    top: -5vh;
  }
}
@-webkit-keyframes imgslider {
  from {
    top: 0vh;
  }
  to {
    top: -100vh;
  }
}
html {
  margin-top: 0 !important;
}
.blocco-1-homepage {
  background-size: cover;
  height: 100vh;
  z-index: 99;
  position: relative;
  margin-top:0;
}
#wrapper {
  background: transparent !important;
}
.blocco-5-homepage h3
{
  padding-top:120px;
}
.blocco-7-homepage h3
{
  padding-top:120px;
}
.blocco-7-homepage h5
{
  text-align:center;
  padding-top:60px;
  padding-bottom:60px;
}
header.main-header {
  background: transparent !important;
}
header.main-header .header-nav-wrapper {
  background: transparent !important;
}
#wrapper-content {
  background-color: #fff;
  z-index: 10;
  position: relative;
  overflow: hidden;
  width: 100%;
}
header.main-header {
  background: transparent !important;
  position: relative;
  z-index: -10;
}
div.blocco-1-homepage .row {
  display: grid;
}
div.blocco-1-homepage .row img.sfondo {
  height: 100vh;
  width: 100%;
  -webkit-animation: sfondoslider 1.5s 1;
  position: relative;
  z-index: 10;
}
.smooth_slider .smooth_slideri h2
{
  position: relative;
  top: -40px;
  text-align: center;
  width: 100vh; 
}
.smooth_slider .smooth_slideri h2 a
{
  text-align: center;  
}
.smooth_slider .smooth_prev
{
  top: 60% !important;
  left:15% !important;
}
.smooth_slider .smooth_next
{
  top: 60% !important;
  right:15% !important;
}
div.blocco-1-homepage .row img.sfondo2 {
  height: 70vh;
  width: 100%;
  position: absolute;
  z-index: 40;
  bottom: 0px;
}
div.blocco-1-homepage .row img.logo {
  text-align: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  align-content: center;
  -webkit-animation: imgslider 1.5s 1;
  z-index: 20;
  position: relative;
  top: -100vh;
}
div#wpadminbar {
  display: none !important;
}
/*Font*/
@font-face {font-family: "Moon Flower";
    src: url("//db.onlinewebfonts.com/t/aeacf66714a281f7d10f7523d374d820.eot");
    src: url("//db.onlinewebfonts.com/t/aeacf66714a281f7d10f7523d374d820.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/aeacf66714a281f7d10f7523d374d820.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/aeacf66714a281f7d10f7523d374d820.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/aeacf66714a281f7d10f7523d374d820.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/aeacf66714a281f7d10f7523d374d820.svg#Moon Flower") format("svg");
}
@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

/* Homepage */
p.bottone-verde a
{
  text-align:center;
  text-transform:uppercase;
  background-color:#0d580d;
  height:30px;
  padding-left: 20px;

padding-right: 20px;

border-radius: 25px;

padding-top: 10px;

padding-bottom: 10px;
color:#fff;
}
img.logo-home-blocco-2
{
  position:absolute;
  top:80%;
  height:300px;
  width:auto !important;
}
p.bottone-verde
{
  color:#fff;
  text-align:center;
}
div.titolo-blocco-2
{
  position:relative;
  top:60px;
}
p.sottotitolo_azienda-home
{
  font-size:20px;
  font-family: 'Mali', cursive;
  font-weight:600;
  text-transform:uppercase;
  text-align:center;
}
p.testo-azienda-home
{
  font-size:20px;
  font-family: 'Mali', cursive;
}
p.icona-verde-homepage
{
  text-align:center;
}
p.icona-verde-homepage img
{
  width:100px !important;
}
body.page-template-homepage_new h2
{
  font-size:150px;
  font-family: 'Moon Flower';
  text-align:center;
  line-height:100px;
}
body.page-template-homepage_new h3
{
  font-size:100px;
  font-family: 'Moon Flower';
  text-align:center;
  line-height:100px;
}
div.blocco-3-homepage p, .blocco-3-homepage h3, .blocco-3-homepage h2, .blocco-3-homepage p a, .blocco-3-homepage h5
{
  color:#fff;
}
div.blocco-3-homepage p, div.blocco-3-homepage h5
{
  font-size:20px;
  font-family: 'Mali', cursive;
}
div.blocco-3-homepage h5
{
  font-weight:600;
  text-align:center;
}
div.blocco-4-homepage h3
{
  padding-top:60px;
}
div.blocco-4-homepage p, div.blocco-4-homepage h5
{
  font-size:18px;
  font-family: 'Mali', cursive;
  text-align:center;
}
h5.sottotitolo-senzaglutine
{
  padding-bottom:20px;
}
div.blocco-4-homepage h5
{
  font-weight:600;
  text-align:center;
}
div.blocco-3-homepage .col-4
{
  align-self:center;
}
div.blocco-3-homepage .col-8
{
  padding-left:0 !important;
  padding-right:0 !important;
}
p.bottone-bianco a {
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #0d580d;
}
p.bottone-bianco {
    color: #0d580d;
    text-align: center;
}
.titolo-blocco-2 h2
{
  font-size:150px;
  font-family: 'Moon Flower';
  text-align:center;
  line-height:100px;
}
.titolo-blocco-2 h3
{
  font-size:150px;
  font-family: 'Moon Flower';
  text-align:center;
  line-height:100px;
}
body.page-template-homepage_new div#page {
  position: relative;
  
}

header#masthead.site-header
{
  background-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/homepage/background-menu.jpg');
  background-size:cover;
  width:100%;
}
ul#primary-menu li a
{
  color:#fff;
  text-transform: uppercase;
  font-size:70px;
  font-family: 'Moon Flower';
}
ul#primary-menu {
  list-style-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/menu/trifoglio.png');
}
body.page-template-homepage_new div#page #header h1 {
  display: none !important;
}
body.page-template-homepage_new #page #header div.description {
  display: none !important;
}
div.blocco-2-homepage img {
  width: 100%;
}
button.navbar-toggle {
  display: block;
}
.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.dark-blue-text {
  color: #0A38F5;
}
.dark-pink-text {
  color: #AC003A;
}
.dark-amber-text {
  color: #ff6f00;
}
.dark-teal-text {
  color: #004d40;
}
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
div#menu_principale
{
	display:none;
	height:100vh;
}
.navbar-expand-lg .navbar-toggler
{
	display:block !important;
}
.site-header
{
	
	position:relative;
}
body.page-template-homepage_new div.site-content
{
  position:relative;
  top:0px;
}
.navbar-expand-lg .navbar-collapse
{
	display:none;
}
.navbar.bg-dark
{
	background:transparent !important;
}
button.navbar-toggler
{
	position: fixed;
top: 20px !important;
z-index: 120;
}
ul#primary-menu
{
	height:100vh;
}
ul#primary-menu li
{
	width:100%;
	text-align:center;
	align-self: center;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/menu-mobile.png");
	border:none !important;
}
.navbar-toggler
{
	background:transparent;
	border:none !important;
}
.navbar.bg-dark
{background-color:#025103 !important;
width:100%;
}
.blocco-2-homepage
{
  background-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/blocco-2-homepage.png');
  background-size: cover;
  height:100vh;
}
img.azienda-1-homepage
{
  max-width: 300px;
  float: right;
  position: relative;
  top: 60px;
  z-index: 20;
}
img.azienda-2-homepage
{
  max-width: 450px;
float: right;
position: relative;
}
.blocco-3-homepage
{
  background-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/homepage/blocco-3-homepage.png');
  background-size: cover;
  height:100vh;
}

img.immagine-territorio-homepage
{
  height: 100vh;
width: 100%;
z-index: -10;
position: relative;
}
.blocco-4-homepage
{
  background-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/homepage/blocco-4-homepage.png');
  background-size: cover;
  height:100vh;
  background-position-y:bottom;
}
.qualita-certificata
{
  text-align:center;
  text-transform: uppercase;
}
.blocco-4-homepage img
{
  text-align:center;
  padding-bottom:20px;
}
div.blocco-4-homepage div.grandezza-img
{
  text-align:center;
}
.blocco-5-homepage
{
  background-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/homepage/blocco-5-homepage.png');
  background-size: cover;
  height:100vh;
  background-position-y:bottom;
}
.blocco-6-homepage
{
  background-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/homepage/blocco-6-homepage.png');
  background-size: cover;
  height:100vh;
  background-position-y:top;
}
div.blocco-6-homepage .col-8
{
  padding-left:0 !important;
  padding-right:0 !important;
}
.blocco-7-homepage
{
  background-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/homepage/blocco-7-homepage.png');
  background-size: cover;
  height:100vh;
  background-position-y:bottom;
}
.blocco-8-homepage
{
  background-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/homepage/blocco-8-homepage.png');
  background-size: cover;
  height:380px;
  background-position-y:bottom;
}
.site-footer
{padding-bottom: 0 !important;}
div.blocco-6-homepage .col-4 {
  align-self: center;
}
div.blocco-6-homepage p, .blocco-6-homepage h3, .blocco-6-homepage h2, .blocco-6-homepage p a, .blocco-6-homepage h5 {
  color: #fff;
}
div.blocco-6-homepage h5 {
  font-weight: 600;
  text-align: center;
}
div.blocco-6-homepage p, div.blocco-6-homepage h5 {
  font-size: 20px;
  font-family: 'Mali', cursive;
}
div.blocco-6-homepage .col-1
{
  display: contents;
}
div.blocco-6-homepage .col-1 img
{
  align-self: center;
}
div.blocco-2-homepage .col-4.immagini-aziende
{
  padding-left:0 !important;
  padding-right:0 !important;
}
div.blocco-5-homepage h2, div.blocco-5-homepage h3, div.blocco-5-homepage h5
{
  text-align:center;
}
div.blocco-5-homepage h5
{
font-family: 'Mali', cursive;}
/*Carosello Homepage Prodotti*/
div.blocco-5-homepage .owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
div.blocco-5-homepage .owl-nav button.owl-prev {
  left: 0;
}
div.blocco-5-homepage .owl-nav button.owl-next {
  right: 0;
}

div.blocco-5-homepage .owl-dots {
  text-align: center;
  padding-top: 15px;
}
div.blocco-5-homepage .owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
div.blocco-5-homepage .owl-dots button.owl-dot.active {
  background-color: #000;
}
div.blocco-5-homepage .owl-dots button.owl-dot:focus {
  outline: none;
}
div.blocco-5-homepage .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
div.blocco-5-homepage span {
    font-size: 70px;    
    position: relative;
    top: -5px;
}
div.blocco-5-homepage .owl-nav button:focus {
    outline: none;
}
/* CAROSELLO RICETTE HOMEPAGE*/
.smooth_slider
{
  max-width:1140px !important;
  background:transparent !important;
}
.smooth_slider .smooth_slideri
{
  max-width:1140px;
}
.smooth_slider .smooth_slider_thumbnail
{
  width: 33% !important;
}
/*NEWSLETTER*/
.newsletter input[type="email"]
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.newsletter input[type="submit"]
{
  padding: 0.5rem 5rem;
  background-color:#0d580d;
  color:#fff;
  text-transform: uppercase;
  border:none;
  border-radius:25px;
}
.newsletter h3
{
  margin-top:60px;
}
.newsletter h2, footer h3
{
  color:#000;
}
.newsletter input[type="email"]:focus
{
  box-shadow: none;
}
img.logo-footer
{
  width: 300px;
height: auto;
position: relative;
margin-top: -120px;
}
.newsletter .wpcf7-form
{
  text-align:center;
}
div.social-footer
{
  text-align:center;
}
.site-footer a
{
  color:#fff;
  font-size:30px;
}
.site-footer a i.fa-instagram
{
  padding-left:20px;
  padding-right:20px;
}
.site-footer ul#footer-menu li
{
  display:inline;
}
.site-footer ul#footer-menu li a
{
  font-size:15px;
  font-family: 'Mali', cursive;
}
ul#footer-menu li
{
  list-style-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/menu/trifoglio.png');
}
div.copyright
{
  color: #fff;
}
header#masthead
{
  position: fixed;
z-index: 100000000000000000;
top: -32px !important;
}
div.colonna-menu
{
padding-left:0;
padding-right:0;  
}
div.colonna-destra-menu
{
  padding-left:0;
  padding-right:0;  
  background-image:url('//salumificiociriaci.it/wp-content/uploads/2019/07/ProductAmbient095_PAN_6133_A17_Path_2_pattern.jpg');
  background-size:cover;    
}
/*AZIENDA*/
.blocco-1-azienda
{
  background-size: cover;
  height: 100vh;
  z-index: 99;
  position: relative;
  margin-top:0;
}
div.blocco-1-azienda .row img.sfondo4
{
  height: 100vh;
width: 100%;
position: relative;
z-index: 10;
}
div.blocco-1-azienda .row img.sfondo5
{
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: 40;
  bottom: -200px;
}
div.blocco-1-azienda .testo-slider-azienda
{
  text-align: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  align-content: center;
  z-index: 20;
  position: relative;
  top: -70vh;
  left:37%;
}
div.blocco-1-azienda .testo-slider-azienda h6
{
  font-size:60px;
  font-family: 'Mali', cursive;
  font-weight:500;
  color:#fff; 
}
div.blocco-1-azienda .testo-slider-azienda h4
{
  font-size:120px;
  font-family: 'Mali', cursive;
  font-weight:600;
  color:#fff;
  position: relative;
  text-align: right;  
  left:120px;
}
div.blocco-2-azienda
{
    background-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/azienda/blocco-2-azienda.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}
div.blocco-3-azienda
{
    background-image: url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/azienda/blocco-3-azienda.png');
    background-size: contain;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100% 300px;
}
.riga-1-azienda-blocco-2
{
  position: relative;
  z-index:100;
  text-align: center;
}
div.riga-2-azienda-blocco-2 p
{
  font-size:20px;
  font-family: 'Mali', cursive; 
}
.riga-1-azienda-blocco-2 h4
{
  font-size:105px;
  font-family: 'Moon Flower';
}
.riga-1-azienda-blocco-2 h5
{
  font-size:25px;
  font-family: 'Mali', cursive;
  font-weight: 600;
}
div.riga-2-azienda-blocco-2 .col-6 
{
  padding-left:0;
  padding-right:0;
}
div.riga-2-azienda-blocco-2 .col-6 img.immagine-1-azienda-blocco-2
{
  float:right;
  height:120px;
  width:auto;
  margin-top:-60px;
  position: relative;
  z-index:20;
}
div.riga-2-azienda-blocco-2 .col-6 img.immagine-2-azienda-blocco-2
{
  float:right;
  height:350px;
  width:auto;
  position: relative;
  margin-top:-60px;
  z-index:10;
}
.riga-1-azienda-blocco-3 h4
{
  font-size: 105px;
  font-family: 'Moon Flower';  
}
.riga-1-azienda-blocco-3 h5
{
  font-size: 25px;
  font-family: 'Mali', cursive;
  font-weight: 600;
  padding-bottom:20px;
}
.riga-1-azienda-blocco-3
{
  text-align: center;
}
div.titolo-missione
{
  margin-top:-60px;
}
div.foglia-dx-azienda-blocco-3 img
{
  float:left;
}
div.foglia-sx-azienda-blocco-3 img
{
  float:right;
}
div.riga-2-azienda-blocco-3 .col-5 p
{
  font-size:20px;
  font-family: 'Mali', cursive;   
}
div.riga-2-azienda-blocco-3 .col-6
{
  padding-left:0;
  padding-right:0;
}
div.riga-2-azienda-blocco-3 img.immagine-1-azienda-blocco-3
{
  float:right;
  z-index:20;
  position: relative;
  padding-right: 60px;
}
div.riga-2-azienda-blocco-3 img.immagine-2-azienda-blocco-3
{
  float:left;
  z-index:10;
  position: relative;
  margin-top:-60px;
}
.riga-1-azienda-blocco-4 h4
{
  font-size: 105px;
  font-family: 'Moon Flower';  
  text-align: center;
}
.riga-1-azienda-blocco-4 h5
{
  font-size: 25px;
  font-family: 'Mali', cursive;
  font-weight: 600;
  padding-bottom:20px;
  text-align: center;
}
.riga-1-azienda-blocco-4 p
{
  font-size:20px;
  font-family: 'Mali', cursive; 
}
div.riga-2-azienda-blocco-4 .grandezza-img img
{
  text-align: center;
  padding-bottom:40px;
  padding-top:40px;
}
div.riga-2-azienda-blocco-4 .grandezza-img
{
  text-align: center;
  
}
div.riga-2-azienda-blocco-4 h5
{
  font-size:20px;
  font-weight:bold;
  font-family: 'Mali', cursive; 
  text-align: center;
}
div.riga-2-azienda-blocco-4 p
{
  font-size:20px;
  font-family: 'Mali', cursive; 
  text-align: center;
}
.riga-1-azienda-blocco-4 img.immagine-2-azienda-blocco-4
{
  float: right;
  padding-right: 60px;
  margin-top: -120px;  
}
.riga-1-azienda-blocco-4 img.immagine-1-azienda-blocco-4
{
  float: right;
}
.riga-1-azienda-blocco-4 .col-6
{
  margin-top:40px;
}
/*Contatti*/
.blocco-1-contatti
{
  background-size: cover;
  height: 100vh;
  z-index: 99;
  position: relative;
  margin-top:0;
}
div.blocco-1-contatti .row img.sfondo6
{
  height: 100vh;
width: 100%;
position: relative;
z-index: 10;
}
div.blocco-1-contatti .row img.sfondo7
{
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: 40;
  bottom: -200px;
}
div.blocco-1-contatti div.testo-slider-contatti
{
  z-index: 100;
position: absolute;
align-content: center;
align-items: center;
align-self: center;
justify-self: center;
justify-content: center;
text-align: center;
justify-items: center;
width: 100%;
}
div.blocco-1-contatti div.testo-slider-contatti h4
{
  text-align: center;

  justify-content: center;
  
  justify-items: center;
  
  justify-self: center;  
  font-size: 120px;
font-family: 'Mali', cursive;
font-weight: 600;
color: #fff;
}
div.blocco-2-contatti
{
  height:100vh;
  width:100%;
  background-image:url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/contatti/blocco-2-contatti.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}
div.contattaci-colonna-1-blocco-2
{
  position: relative;
  margin-top:15%;
}
div.contattaci-colonna-1-blocco-2 h4
{
  font-size: 120px;
  font-family: 'Moon Flower';  
  text-align: center;
}
h5.dove-siamo
{
  font-size:28px;
  font-family: 'Mali', cursive;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding-top:20px;
  padding-bottom: 20px;
}
p.dati-dove-siamo
{
  font-size:20px;
  font-family: 'Mali', cursive;
  text-align: center;
  margin-top: 60px;
}
h5.punti-vendita
{
  font-size:28px;
  font-family: 'Mali', cursive;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding-top:20px;
  padding-bottom: 20px;
}
p.dati-punti-vendita
{
  font-size:20px;
  font-family: 'Mali', cursive;
  text-align: center;
  margin-top: 60px;
}
div.contattaci-colonna-2-blocco-2
{
  position: relative;
  margin-top:6%;
}
div.contattaci-colonna-2-blocco-2 h4
{
  font-size: 120px;
  font-family: 'Moon Flower';  
  text-align: center;
  color:#fff;
}
div.contattaci-colonna-2-blocco-2 h5
{
  font-size: 25px;
  font-family: 'Mali', cursive;
  text-align: center;
  color:#fff;
}
#wpcf7-f36-o1
{
  text-align: center;
}
#wpcf7-f36-o1 input[type="text"],#wpcf7-f36-o1 input[type="tel"], #wpcf7-f36-o1 input[type="email"], #wpcf7-f36-o1 textarea
{
  background: transparent;
  border-top: none;
  border-left: 0;
  border-right: none;
  border-radius: 0;  
}
#wpcf7-f36-o1 input[type="text"]:focus,#wpcf7-f36-o1 input[type="tel"]:focus, #wpcf7-f36-o1 input[type="email"]:focus, #wpcf7-f36-o1 textarea:focus
{
  box-shadow: none;
}
p.bottone-mappa-google button
{
  background-color:#0d580d;
  border-radius:25px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right: 20px;
}
p.bottone-mappa-google 
{
  text-align: center;
}
p.indirizzomailcontattaci
{
  font-size:20px;
  color:#000;
  font-weight:bold;
  font-family: 'Mali', cursive;
  text-align: center;
  margin-top:120px;
}
div.blocco-3-contatti
{
  height:100vh;
  width:100%;
  background-image:url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/contatti/blocco-3-contatti.png');
  background-size: 100% 300px;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
div.blocco-3-contatti h3.restiamo
{
  font-size: 105px;
  font-family: 'Moon Flower';  
  text-align: center;
}
div.blocco-3-contatti h2.in-contatto
{
  font-size: 150px;
  font-family: 'Moon Flower';  
  text-align: center;
}
div.blocco-3-contatti p.inserisci-mail
{
  font-family: 'Mali', cursive;  
  font-size:20px;
  text-align: center;
}
div#wpcf7-f37-o2
{
  text-align: center;
  margin-top:120px;
}
div#wpcf7-f37-o2 input[type="email"]
{
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom: 1px solid #000;
  border-radius:0;
}
/*Territorio*/
.blocco-1-territorio
{
  background-size: cover;
  height: 100vh;
  z-index: 99;
  position: relative;
  margin-top:0;
}
div.blocco-1-territorio .row img.sfondo8
{
  height: 100vh;
width: 100%;
position: relative;
z-index: 10;
}
div.blocco-1-territorio .row img.sfondo9
{
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: 40;
  bottom: -250px;
}
div.blocco-1-territorio div.testo-slider-territorio
{
  z-index: 100;
position: absolute;
align-content: center;
align-items: center;
align-self: center;
justify-self: center;
justify-content: center;
text-align: center;
justify-items: center;
width: 100%;
}
div.blocco-1-territorio div.testo-slider-territorio h4
{
  text-align: center;

  justify-content: center;
  
  justify-items: center;
  
  justify-self: center;  
  font-size: 60px;
font-family: 'Mali', cursive;
font-weight: 100;
color: #fff;
line-height:40px;
}
div.blocco-1-territorio div.testo-slider-territorio h4 span.territorio-valdaso
{
  font-size: 120px;
  font-family: 'Mali', cursive;
  font-weight: 600;
  color: #fff;
}
div.blocco-2-territorio
{
  height:130vh;
  width:100%;
  background-image:url('//salumificiociriaci.it/wp-content/themes/salumificio-ciriaci/images/territorio/blocco-2-territorio.png');
  background-size: 100% 350px;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
div.blocco-2-territorio h4
{
  font-size: 105px;
  font-family: 'Moon Flower';  
  text-align: center;  
  margin-top:60px;
}
div.blocco-2-territorio h5
{
  font-size: 25px;
  font-family: 'Mali', cursive;
  text-align: center;  
  font-weight: bold;
}
div.blocco-2-territorio p.foglia-verde
{
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
}
p.testo-1-blocco-2-territorio
{
  font-size: 20px;
  font-family: 'Mali', cursive;
  text-align: center;
}
p.testo-2-blocco-2-territorio
{
  font-size: 20px;
  font-family: 'Mali', cursive;
  text-align: center;
}
img.immagine-maiali-blocco-2-territorio
{
  margin-top:-260px;
}
div.descrizione-maiali-blocco-2-territorio
{
  margin-top: -260px;
  background-color:#fff;
}
div.descrizione-maiali-blocco-2-territorio p
{
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-right:20px;
  align-self: center;
  font-size: 20px;
  font-family: 'Mali', cursive;
}
div.blocco-3-territorio
{
  height:150vh;
  width:100%;
}
div.blocco-3-territorio h4
{
  font-size: 105px;
  font-family: 'Moon Flower';  
  text-align: center;  
  margin-top:60px;
}
div.blocco-3-territorio h5
{
  font-size: 25px;
  font-family: 'Mali', cursive;
  text-align: center;  
  font-weight: bold;
  padding-bottom:60px;
}
div.blocco-3-territorio h4.dop
{
  font-size: 60px;
  font-family: 'Moon Flower';  
  text-align: left;  
  margin-top:60px;
}
div.blocco-3-territorio p.descrizione-dop
{
  font-size:20px;
  font-family: 'Mali', cursive;
  align-self: center;
}
div.blocco-3-territorio img.immagine-maiali-blocco-3-territorio
{
  margin-top:-260px;
}
div.blocco-dop
{
  margin-top:-260px;
  background: #fff;
}
div.blocco-3-territorio h4.igp
{
  font-size: 60px;
  font-family: 'Moon Flower';  
  text-align: left;  
  margin-top:60px;
}
div.blocco-3-territorio p.descrizione-igp
{
  font-size:20px;
  font-family: 'Mali', cursive;
  align-self: center;
}
div.blocco-igp
{
  margin-top:-260px;
  background: #fff;
}
div.riga-2-blocco-4-territorio
{
  margin-top:120px;
}